html{
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,25,95,1) 35%, rgba(71,3,98,1) 100%);
  font-family: Verdana
}

*, *:before, *:after {
  box-sizing: border-box;
}
.form-add-passwd{
  border:solid;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-width: 5px;
  border-color: white;
  width:55%;
}
input{
  border-radius:10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
ul{
  list-style: none;
}

h1{
  font-weight: bold;
}
.index-button {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 175px;
  text-align: center;
  line-height: 3;
  color: white;
  font-weight: bold;
  background: #9900cc;
  border-radius: 10px;
}

.index-button:hover{
  background: #d24dff;
}
